<% include ./partials/header.ejs %>


<div class="container">
    <!-- Example row of columns -->
    <!--<div class="row">-->
        <!--<div class="col-md-4">-->
            <!--<h2>Heading</h2>-->
            <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris-->
                <!--condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis-->
                <!--euismod. Donec sed odio dui. </p>-->
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<h2>Heading</h2>-->
            <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris-->
                <!--condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis-->
                <!--euismod. Donec sed odio dui. </p>-->
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<h2>Heading</h2>-->
            <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula-->
                <!--porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut-->
                <!--fermentum massa justo sit amet risus.</p>-->
            <!--<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
        <!--</div>-->
    <!--</div>-->
    <hr>

    <div class="row">
        <h3>Feedback Forms</h3>
        <hr>
        <% if(!currentUser){ %>
            <h4>Please Login to view Feedback Forms</h4>
        <% } %>


        <% if( forms != null){
        for(var i = 0; i < forms.length; ++i){ %>
        <div class="col-md-5  feedback-card" style="margin-top: 40px;margin-left: 40px">
            <h4>Feedback Form <%= i+1 %></h4>
            <hr>
            <p><i class="fa fa-check"></i>&nbsp; <span class="emphasis-text"><%= forms[i].noOfUsers %></span> people have filled this form</p>
            <p><i class="fa fa-clock-o"></i>&nbsp; Estimated time: <span class="emphasis-text"><%= Math.round(forms[i].estimatedTime) %> secs</span></p>
            <p><i class="fa fa-users"></i>&nbsp; Departments:</p>
            <div style="margin-top: 10px">
                <% forms[i].targetedUsers.forEach(function (department) { %>
                <div class="slab"><%= department %></div>
                <% }) %>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-3 col-xs-offset-7">
                    <% if(currentUser){ %>
                    <button class="btn btn-primary custom-button btn-sm"><a href="/feedback/<%= forms[i]._id %>">Fill Form Now</a></button>
                    <% } else { %>
                    <button class="btn btn-primary custom-button btn-sm" data-target="#login-modal" data-toggle="modal">
                        Fill Form Now
                    </button>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
    <br><br><br>
</div> <!-- /container -->


<% include ./partials/login-modal.ejs %>
<% include ./partials/registration-modal.ejs %>
<% include ./partials/footer.ejs %>